/* les caracteristiques principales de la page */
html{
    background-color: white;
}
body{
    max-width: 800px;
    margin: auto;
    background: #ffeeb2;

    text-align:center;
    display: flex;
    flex-flow: row wrap;
}
/* fleche up */
#up_arrow{
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
}
/* mise en forme du texte */
h1, h2, h3{
    font-family: 'Audiowide', serif;
}
p{
    font-family: 'Changa', serif;
}
#Nom_Prenom h1{
    font-size:250%;
}
#Nom_Prenom p{
    font-size: 150%;
}
/* mise en forme des progressbar */
.Progress_bar{
    text-align: center;
    display: inline-flex;
    background-color: grey;
    width: 120px;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px 10px;
}
.Progress_value{

    display: block;
    background-color: green;
    border-radius: 10px 0px 0px 10px;
}


/* mise en forme du contenu des sections */
section li, section h4, section p{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left!important;
    font-size: 80%;
}
/* CONTENU DE L'ENTETE DE PAGE */
header{
    margin-top: 10px;
    border-radius: 0px 0px 20px 20px;
    background-color: orange;
    width:100%;;
    height: 150px;
    display: flex;
    flex-flow: row;
    box-shadow: 0px 2px 10px black;
}
#Nom_Prenom{
    width: 70%;
}
#Photo{
    width: 30%;
    padding-top: 10px;
}
#Maphoto{ border: 2px solid black;}

/* partie principale de la page */
main{
    height:80%;;
    display: flex;
    flex-flow: column;
}
#about_me{
    width:90%;
    align-self: center;
    height: auto;
}
/* conteneur comportant les 3 sections */
#Contenu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* taille des sections exp, form et competences*/
section{
    width: 30%;
    background-color: white;
}

/* taille de la section centre d'intérêt */
#Interets{
    width: 60%;
    align-self: center;
    height: auto;
}
/* mise en page du footer */
footer{
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background-color: orange;
    box-shadow: 0px 2px 10px black;
    width: 100%;
    margin-bottom: 10px;
}
/* mise en page pour le texte "contact" */
#contact{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* mise en page des liens de contact */
#Liens{
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
/* propieté des div "icon" */
.icones{
    display: flex;
    flex-direction: column;
}

#image_skill{
    display: none;
}

#Compétences{
    display: flex;
    flex-direction: row;
}

#skill{
    margin:10px;
}
/* =============== EFFETS VISUELS ===================== */
/* effet de grossissment au passage de la souris */
.grow{
    transition: all .2s ease-in-out;
}
.grow:hover{
    transform: scale(1.2);
}
/* effet d'ombrage au passage de la souris */
.shadow {
    transition: all .2s ease-in-out;
    box-shadow: 0px 1px 10px black;
}
.shadow:hover{
    border-top: 2px black grey;
    box-shadow: 0px 10px 10px black;
}
/* elements qui sont suceptibles d'etre masqués */
.hidden{
    position: relative;
    right:auto;
    background-color: white;
    padding: 10px;
}
/* menu caché (n'apparait que lorsque la resolution baisse) */
.hidden_menu{
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
.hidden_menu a{
    box-shadow: 0px 0px black;;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* ===============MEDIA QUERIES===================== */
@media all and (max-width: 800px) and (min-width: 500px){
    /* on affiche le petit bonhomme */
    #image_skill{
        display: block;
    }

    #Competences{
        display: flex;
    }
}
/* On applique les regles si l'ecran est moins large que 800px. */
@media all and (max-width: 800px) {
    /* on affiche la fleche qui sert à remonter au menu */
    #up_arrow{
        display: block;
    }
    /* on bascule en mode vertical */
    #Contenu{
        flex-direction: column;
    }
    /* les sections du CV prennent toute la largeur de l'écran */
    section, #Interets{
        width: auto;
        margin: 20px;
    }
    /* le texte "Contact" est inutile, les icones se suffisent à elles-meme */
    #contact{
        display: none;
    }
    /* on ajuste un peu le footer et les liens */
    #Liens{
        margin-bottom: auto;
    }
    /* on réduit les marges du footer */
    footer
    {
        margin-top: 10px;
        padding: 10px;
    }
    /* le texte des icones de contact disparaissent */
    footer .icon p{
        display: none;
    }
    /* on affiche le menu caché */
    .hidden_menu
    {
        display: block;
        align-items: center;

    }
    /* on cache le titre sous le nom et prenom */
    #Nom_Prenom p{
        display: none;
    }
    /* pas besoin d'afficher l'icone imprimer sur mobile */
    #icone_imprime{
        display: none;
    }
}
