body{
    height: 800px;
    background-color: beige;
}

header{
    background-color: orange;
    height: 150px;
    display: flex;
    flex-flow: wrap row;
}

#Nom_Prenom{
    width: 80%;
    text-align: center;
}

#Photo{
    width: 20%;
    padding-top: 10px;
}


#about_me{
    text-align: center;
    align-content: center;
}

#Liseret_gauche{
    float: left;
    height: inherit;
    width: 10%;
    background-image: url("assets/liseret.jpg");
}

#Liseret_droit{
    float: right;
    height: 100%;
    width: 10%;
    background-image: url("assets/liseret.jpg");
}


#Contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section{
    width: 32%;
}

footer{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-color: orange;
}

#contact{
    width: 100%;
}

#github{
    flex-shrink: 1;
    width: 50px;
}
