body{
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    background-color: beige;
    height:100%;
    text-align:center;
}

/* CONTENU DE L'ENTETE DE PAGE */
header{
    background-color: orange;
    height: 150px;
    display: flex;
    flex-flow: wrap row;
    box-shadow: 0px 10px 10px black;
}
#Nom_Prenom{
    width: 70%;
}
#Photo{
    width: 30%;
    padding-top: 10px;
}
#Maphoto{ border: 2px solid black;}
/* partie principale de la page */
main{
    height:100%;
    display: flex;
    flex-direction: column;
}
#about_me{
    width:100%;
}
/* conteneur comportant les 3 sections */
#Contenu{
    height: 100%;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* taille des sections exp, form et compétences */
section{
    width: 30%;
    padding: 10px;
}
/* taille de la section centre d'intérêt */
#Interets{
    width: auto;;
    padding: 10px;
}

#marge_gauche{
    float: left;
    width: 50px;
    height: 700px;
    background: red;
}
#marge_droite{
    float: right;
    width: 50px;
    height: 100%;
    background: red;
}


/* mise en page du footer */
footer{
    /* margin-top: 20px; */
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background-color: orange;
    box-shadow: 0px 10px 10px black;
}
/* mise en page pour le texte "contact" */
#contact{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* mise en page des liens de contact */
#Liens{
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* =============== EFFETS VISUELS ===================== */


/* effet de grossissment au passage de la souris */
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover{
    transform: scale(1.2);
}
/* effet d'ombrage au passage de la souris */
.shadow {
    transition: all .2s ease-in-out;
}
.shadow:hover{
    border-top: 2px black grey;
    box-shadow: 0px 5px 10px black;
}
